* {
  margin: 0;
  padding: 0;
  transition: 0.4s;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  overflow-x: hidden;
}

.content-wrapper {
  display: flex;
  align-items: center;    
  height: 100vh;          
}

.side-bar {
  width: 40vh;            
  height: 100vh;          
  background: black;
  margin-right: 30px;     
}

/* penguin animations START*/

.penguin {
  flex: 0 0 auto;
  width: 190px;   
  height: 190px;  
  margin-left: 100px; 
  margin-top: 20px;
}

.penguin {
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

/* penguin animations END*/

.content-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 400px;
  margin-left: 70px;
}

/* other buttons */

.tabs {
  display: flex;
  gap: 95px;
  margin-top: 40px;
  margin-left: 40px;
}

.tab {
  font-family: 'Itim', cursive;
  font-size: 22px;
  color: black;
  position: relative;
  padding-bottom: 6px;
  margin-bottom: 0; 
  padding-right: 10px; 
  text-decoration: none;
}

.tab::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;  
  background-color: #111;
  transition: width 0.2s ease, transform 0.2s ease;
  border-radius: 100px;  
}

.tab:hover::after,
.tab.active::after {
  width: 100%;
}

.plus-sign {
  margin-right: 20px;
  width: 18px;
  height: 18px;
  margin-bottom: 10px;
}

/*pomodoro timer START */

.pomodoro-section {
  margin-top: 0px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.round-label {
  font-family: 'ABeeZee', sans-serif;
  font-size: 15px;
  color: #7B7B7B;
  margin-bottom: 10px;
  margin-left: 35px;
}

.timer-display {
  font-family: 'Itim', cursive;
  font-size: 90px;
  background: #111;
  color: #fff;
  padding: 20px 70px;
  border-radius: 16px;
  margin-bottom: 5px;
  letter-spacing: 2px;
  align-self: flex-start;
  min-width: 300px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15); 

}

.timer-divider {
  border: none;
  border-top: 2px solid #111;
  width: 100%;
  margin: 16px 0 16px 0;
}

.timer-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 22%;
  margin-bottom: 10px;
  margin-left: 10px;
}

.timer-controls button {
  font-family: 'Itim', cursive;
  font-size: 20px;
  padding: 4px 25px;
  border-radius: 12px;
  background: #fff;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
  border-width: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25); 

}

.timer-controls button:hover {
  background: #f0f0f0;
}

/*pomodoro timer END */

.bot-plus {
  margin-left: 250px;
  width: 18px;
  height: 18px;
  margin-bottom: 10px;
}

.break-label {
  color: #000000 !important;
}
.long-break-label {
  color: #000000 !important;
}
.timer-display.break-mode {
  background: #4d754d;
  color: #fff;
}
.timer-display.long-break-mode {
  background: #546d8b;
  color: #fff;
}
